<!-- score.html.erb -->
<h2> These are the scores for <%= @quiz.name %>! </h2>

<% @quiz.users.where(:student_quizzes => {:quiz_status => "completed"}).each do |user|%>
	<%= user.name %>: <%= user.score(@quiz) %> <br>
<% end %>







