<!-- score.html.erb -->
<h3> Your score for the <%= @quiz.name %> quiz! </h3>
<h5><%= number_to_percentage(@score, precision: 1)%></h5>

<%# @quiz.users.where(:student_quizzes => {:quiz_status => "completed"}).each do |user|%>
	<%#= user.name %> <%#= user.score(@quiz) %>
<%# end %>
<% if @quiz.status == 'completed' %>
  <%= render 'review' %>
<% end %>








