<h1 style="text-align: center">Login</h1>
<div id ="login" class="span3">

  <%= form_tag login_path do %>
  	<p>
    <div class="field">
  		<%= text_field_tag "email", nil,  :placeholder => "Email" %> <br>
    </div>
  		<%= password_field_tag "password", nil, :placeholder => "Password" %>
  		<%= submit_tag "Login", class: "btn btn-primary" %>
  	</p>
  <% end %>
</div>
