<% if current_user.role?(:instructor) %>
  <div class ="directions">
    <p class="directions">You currently do not have any pending quizzes</p>
    <p class="directions">Be sure to create a quiz</p>
    <p class="directions">Students can submit questions to pending quizzes</p>
    <p class="directions">Instructors have the ability to approve and reject student submitted questions</p>
  </div>
<% elsif current_user.role?(:student) %>
  <div class="directions">
    <p class="directions">You currently do not have any pending quizzes</p>
    <p class="directions">When an instructor adds you to a quiz, it will appear here</p>
  </div>
<% end %>