<h3><%=current_user.name %></h3>
<div class="quizzes">
  <table>
    <th width="20px" align="left"></th>
    <th width="400px" align="left">Quiz Name</th>
    <th width="100px" align="left">Score</th>
    <th width="100px" align="left"># of Qs</th>
    <th width="100px" align="left">Class avg. on Qs</th>
        <% current_user.quizzes.each do |quiz| %>
        <tr>
          <td></td>
          <td><%= quiz.name %></td>
          <td><%= current_user.results.where(:quiz_id => quiz.id).pop.score %></td>
          <td> TBD </td>
          <td> TBD </td>
        <tr>
        <% end %>
    <table>
<div>




