<p id="notice"><%= notice %></p>
<% if flash[:error] %>
 <h4 class="flash_error"><%= flash[:error] %></h4>
<% end %>
<h1 class="heading">Registration</h1>

<div id="registration" class="span3">
  <%= render 'form' %>
</div>
