<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<body>
	<div id="content" class="LR-content LR-site-bg-color-container"><!--  LR-sharing-page LR-stats LR-lx -->
		<div class="LR-announcement-bar LR-announcement-bg-color-container">
			<h4 class="LR-announcement">Special Announcement About Important Things!</h4>
		</div><!-- .announcementBar -->
		<div class="LR-box-wrapper">
			<div class="LR-box-shadow"></div>
			<div class="LR-box-container">	
					<div class="LR-site-title-wrapper">
						<h1 class="LR-site-title">SITE TITLE</h1>
						<div class="LR-site-logo"><img src="js/ignition/themes/mobile_app/img/logo.png" alt="Site Logo"/></div>
					</div>
					<div class="LR-box-devices">
						<div class="LR-deviceOne-wrapper">
							<div class="LR-deviceOne"></div>
							<div class="LR-deviceOneImg"><img src="js/ignition/themes/mobile_app/img/ph.jpg" alt="Screen Image"/></div>
						</div>
						<div class="LR-deviceTwo-wrapper">
							<div class="LR-deviceTwo"></div>
							<div class="LR-deviceTwoImg"><img src="js/ignition/themes/mobile_app/img/ph.jpg" alt="Screen Image"/></div>
						</div>
					</div><!-- .LR-box-devices -->
					<div class="LR-box-left">
						<div class="LR-sign-up LR-clearfix">
						<h2 class="LR-site-tagline varela-round">We Get Users</h2>
						<div class="LR-site-description varela-round">
							<p>Set up a "launching soon" page in minutes. Collect interest, increase sharing, and build your audience.</p>
						</div><!-- .site-description -->
						<span class="LR-sign-up-label">Invite people to signup by entering their e-mail address:</span>
						<div class="LR-sign-up-container"><!--  .LR-extra-fields -->
							<div class="LR-sign-up-container-inner LR-clearfix">
								<input type="email" class="LR-sign-up-input signup-email" placeholder="e-mail address">
								<input type="text" class="LR-sign-up-input first-name half" placeholder="first name">
								<input type="text" class="LR-sign-up-input last-name half" placeholder="last name">
								<input type="text" class="LR-sign-up-input company" placeholder="company">
								<input type="tel" class="LR-sign-up-input phone-number half" placeholder="phone number">
								<input type="text" class="LR-sign-up-input zipcode half" placeholder="zipcode">
								<input type="text" class="LR-sign-up-input birthdate half" placeholder="birthdate mm/dd/yy">
								<input type="submit" name="submit" title="GO" value="GO" class="LR-sign-up-submit">
							</div><!-- .sign-up-container-inner -->
						</div><!-- .sign-up-container -->
					</div><!-- .sign-up -->			
						<div class="LR-site-share">
						<div class="LR-site-incentive varela-round">
							<p>Relationships are a two way street. You are asking people to give you their recommendation, so what are you giving them?</p>
						</div><!-- .site-incentive -->
						<div class="LR-site-share-container">
								<div class="LR-site-social-share">
									<ul class="LR-clearfix">
										<li class="LR-share-facebook-like"></li>
										<li class="LR-share-facebook-send"></li>
										<li class="LR-share-tweet"></li>
										<li class="LR-share-linkedin"></li>
										<li class="LR-share-tumblr"></li>
									</ul>
								</div><!-- .site-social-share -->
								<div class="LR-site-share-email LR-clearfix">
									<div class="LR-share-label varela-round">SHARE BY E-MAIL</div>
									<div class="LR-share-email-inner">
										<div class="LR-email-wrapper">
											<input type="email" class="LR-share-email-emails" placeholder="enter e-mails (comma separated)">
											<div class="LR-share-email-import">import</div>
										</div>
										<div class="LR-share-email-hide"><!-- LR-share-email-hide -->
											<input type="text" class="LR-share-email-subject" placeholder="email subject">
											<textarea class="LR-share-email-message" rows="4">email message</textarea>
											<input type="submit" name="submit" title="Send Invitations" value="Send Invitations" class="LR-share-email-send">
										</div><!-- .share-email-hide -->
									</div><!-- .share-email-inner -->
								</div><!-- .site-share-email -->		
								<div class="LR-site-share-link LR-clearfix">
									<span class="LR-share-label varela-round">SHARE THIS LINK</span>
									<span><a href="#" class="LR-share-link" title="SHARE THIS LINK"></a></span>
								</div><!-- .site-share-link -->
								
								<div class="LR-site-live-stats">
									<div class="LR-site-live-stats-container LR-clearfix">
										<span class="LR-share-label varela-round">YOUR LIVE STATS:</span>
										<div class="LR-live-stats-data varela-round">
											<div class="LR-stats-clicks"></div>
											<span class="LR-stats-label">clicks</span>
										</div>
										<div class="LR-live-stats-data signups varela-round">
											<div class="LR-stats-signups"></div>
											<span class="LR-stats-label">signups</span>
										</div>
									</div><!-- .site-live-stats-container -->	
								</div><!-- .site-live-stats -->
								
								<div class="LR-site-connect LR-clearfix">
									<span class="LR-share-label varela-round">FIND US ON</span>
									<ul class="LR-connect-share-links LR-clearfix">
										<li><a href="#" class="LR-connect-icon connect-rss" title="rss"></a></li>
										<li><a href="#" class="LR-connect-icon connect-github" title="github"></a></li>
										<li><a href="#" class="LR-connect-icon connect-pinterest" title="pinterest"></a></li>
										<li><a href="#" class="LR-connect-icon connect-youtube" title="youtube"></a></li>
										<li><a href="#" class="LR-connect-icon connect-vimeo" title="vimeo"></a></li>
										<li><a href="#" class="LR-connect-icon connect-instagram" title="instagram"></a></li>
										<li><a href="#" class="LR-connect-icon connect-tumblr" title="tumblr"></a></li>
										<li><a href="#" class="LR-connect-icon connect-blog" title="blog"></a></li>
										<li><a href="#" class="LR-connect-icon connect-facebook" title="facebook"></a></li>
										<li><a href="#" class="LR-connect-icon connect-twitter" title="twitter"></a></li>
									</ul>
								</div><!-- .site-connect -->
								
								<div class="LR-lxWrapper LR-clearfix">
									<div class="LR-lxMssg varela-round">BASED ON THIS SIGN UP, WE THINK YOU'LL LOVE...</div>
									<div class="LR-lxContainer LR-lxCompanyOne">
										<div class="LR-lxBG"></div>
										<span class="LR-lxImg">
											<img src="js/ignition/themes/mobile_app/img/lx.jpg" alt="img"/>
										</span>
										<div class="LR-lxTxt">
											This is a sample text, written as a placeholder. 60 characters.
										</div>
									</div><!-- .LR-lxContainer -->
									<div class="LR-lxContainer LR-right LR-lxCompanyTwo">
										<div class="LR-lxBG"></div>
										<div class="LR-lxImg">
											<img src="js/ignition/themes/mobile_app/img/lx.jpg" alt="img"/>
										</div>
										<div class="LR-lxTxt">
											This is a sample text, written as a placeholder. 60 characters.
										</div>
									</div><!-- .LR-lxContainer -->
								</div><!-- .LR-lxWrapper -->
								
						</div><!-- .site-share-container -->	
					</div><!-- .site-share -->	
				</div><!-- .box-left -->
		</div><!-- .box-inner -->
		</div><!-- .box-wrapper -->
		<div class="LR-pwd-lr LR-clearfix">
			<a target="_blank" href="http://discover.launchrock.com?ref=hm"></a>
		</div>
	</div><!-- #content -->	
</body>