<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<head>

</head>
<body class="hero-unit">
  <header>
</header>

	<div class="">
	  <div class="container-fluid offset1">
	  	<br>
	  	<br>
			<h1><span style="color: rgb(22,188,156)">Insta</span><span style="color:white">Quiz</span></h1>
			<hr>
			<h3>We power awesome testing for awesome classes!</h3> <br>
			 <a class="btn btn-large btn-primary" style="width: 100px" href="/login">Login</a>  
			 <br>
			 <br>
			 <a class="btn btn-large" style="width: 100px" href="/users/1/dashboard">Sign Up</a>  <br>
	  </div>
	</div>

</body>
</html>
