/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree ./../../../vendor/assets/css
 *= require_tree .
 */

.quest-content {
  display: inline-block;
  margin: 20px 0 5px 0;

}

input[type="checkbox"].approve {
  display: inline-block;
  margin: 0 10px 5px 0;
}


input[type="radio"].choice-set {
  margin: 3px 25px 6px -40px;
}

.choice-list {
  margin: 0 0 0 39px;
}

.review-set {
  margin: 0 0 10px 44px;
}

#redcarpet {
  display: inline-block;
}