// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.inline {
  float: left;
}

.wide200 {
  display: inline-block;
  width: 200px;
}

.wide80 {
  display: inline-block;
  width: 80px;
}

.groups {
  line-height: 25px;
}
