// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.inline {
  float: left;
}

.clearBoth {
  clear: both;
}

.clearRight {
  clear: right;
}

.clearLeft {
  clear: left;
}

.spacer {
  margin: 50px;
}

ol {
  /*overflow: hidden;*/
  clear: left;
}

.correct {
  color: black;
  font-weight: bold;
  background-color: #99FF66;
}

#edit_link {
  display: inline-block;
  margin-left: 15px;
}

#quest_content {
  display: inline-block;
}