// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#registration, #login{
  float: none !important;
  margin: 30px auto auto auto !important;

}

.flash_error {
  color: red;
}

dl.quiz-info.dl-horizontal{
  margin: auto;
  vertical-align: middle !important;
}
div.overview.well {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px !important;
}
h2#quiztitle{
  margin-top: 0px;  
}

div.chart{
  width: 80%;
  margin: auto;
  height: 100%;
}

div.overview.well:hover{
  box-shadow: 5px 5px 5px #888;
}

li.overview:hover{
  text-decoration: underline;
}

div#main{
  height: 600px;
  //overflow-y: auto !important;
  //overflow: scroll;
  //overflow: visible;
}

div.quiz-box{
  text-align: center;
  padding: 10px;
  margin: 10px 0px 10px 0px !important;
}

div.quizzes{
  overflow-y:auto;
}

div.accordion{
  margin: 0 auto !important;
  // overflow-y: auto !important;
  // overflow-y: hidden;

}

div.quiz.well{
  margin: 5px auto 5px auto;
  vertical-align: middle !important;
  height: 30px;
  padding: 10px;
  width: 90%;
}

div.quiz.well:hover{
  box-shadow: 10px 10px 5px #888;
}

h4.for-dash{
  font-weight: bold;
  padding-bottom: 10px;
}

span.for-dash{
  font-size: 16px;
}

div.quiz-heading{
  border-bottom: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: gray !important;
  margin-bottom: 20px !important;
}


div.quiz-info {
  margin-top: 10px;
  min-height: 60px !important;
  vertical-align: middle !important;
}

.links{
  color: red;
  font-size: 18px;
}

#side-nav{
  margin: 0px !important;
  color: #ECF0F1 !important;
}

li.side-item{
  padding: 5px !important;
  color: #ECF0F1 !important;
  border: solid;
  border-width: 1px;
  border-color: rgb(42,62,80);
}

div.todo-content{
  color: #ECF0F1 !important;
}

h3.todo-name{
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin-left: 30px;
}

a {
  text-decoration: none !important;
}

#wrapper {
  padding-top: 10px;
  margin-bottom: 40px;
  background-color:rgb(254,254,254);
  overflow-y: auto;
  width: 80%;
  min-width: 400px;
  height: 800px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#wrapper.transparent {
  background: none;
  background-color: none;
}

#loggedin{
  padding-top: 60px;
}

html, body {
  min-height: 100% !important;
  min-width: 100%;
  background-image:url('/assets/binding_light.png');
  background-repeat:repeat;
}

a.quiz-link{
  font-size: 16px !important;
  float: right !important;
  vertical-align: middle;
}

div.quiz-link{
  font-size: 16px !important;
  float: right !important;
  vertical-align: middle;
  margin: auto;
}

#role_label {
  position: relative;
  top: 5px;
  margin-left: 10px;
}

// instructor icons
.updates-icon, .delete-icon, .deactivate-icon, .review-icon, .results-icon,   {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(insta-quiz-instructor-icons.png);
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  // margin-left: 3px;

}

.updates-icon {
  background-position: 0 0;

}

.delete-icon {
  background-position: -40px 0;
} 

.deactivate-icon {
  background-position: -20px 0;
} 

.review-icon {
  background-position: -60px 0;
}

.results-icon {
  background-position: -80px 0;
}

.updates-icon:hover {
  background-position: 0 -20px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.delete-icon:hover {
  background-position: -40px -20px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
} 

.deactivate-icon:hover {
  background-position: -20px -20px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
} 

.review-icon:hover {
  background-position: -60px -20px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.results-icon:hover {
  background-position: -80px -20px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

// student icons

.take-icon, .submit-icon, .edit-icon, .score-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(insta-quiz-student-icons.png);
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  margin-left: 3px;
}

.take-icon {
  background-position: 0 0;

}

.submit-icon {
  background-position: -30px 0;
} 

.edit-icon {
  background-position: -60px 0;
} 

.score-icon {
  background-position: -90px 0;
}



.take-icon:hover {
  background-position: 0 -30px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.submit-icon:hover {
  background-position: -30px -30px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
} 

.edit-icon:hover {
  background-position: -60px -30px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
} 

.score-icon:hover {
  background-position: -90px -30px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
