// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.links{
  color: red;
  font-size: 18px;
}

#side-nav{
  margin: 0px !important;
  color: #ECF0F1 !important;
}

li.side-item{
  padding: 5px !important;
  color: #ECF0F1 !important;
}

div.todo-content{
  color: #ECF0F1 !important;
}

h3.todo-name{
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin-left: 30px;
}

a {
  text-decoration: none !important;
}

#wrapper {
  padding-top: 30px;
  margin-bottom: 40px;
  background-color:rgb(254,254,254);
  overflow-y:auto;
  width: 80%;
  height: 800px;
}

#loggedin{
  padding-top: 60px;
}

html, body {
  min-height: 100% !important;
  min-width: 100%;
  background-image:url('/assets/binding_light.png');
  background-repeat:repeat;
}

.quiz{
  margin-right: auto;
  margin-bottom: 8px;
  height: 30px;
  width: 80%;
}

a.quiz-name{
  text-decoration: none !important;
  font-size: 12px !important; 
  margin-left: 5px;
  margin-right: auto !important;
  float: left !important;
}
