<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<head>
  <div class="navbar">
<!--   <div class="navbar navbar-fixed-top">
 -->  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span>Menu</span> </a>
      <div class="nav-collapse collapse">
      <ul class="nav">
      <li><a href="/users/1/dashboard">Dashboard</a>  </li>
      <li><a href="/users/1/myprofile">My Profile</a> </li> 
      <li><a href="/quizzes/new">Create Quiz</a> </li>
      <li><a href="/quizzes/1/questions/review">Review</a> </li>
      <li><a href="#">Settings</a> </li>
      <li><a href="/logout">Logout</a></li>
    </div>
    </div>
  </div>
  </div> 
 </div>
</head>
<body>
  <header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="#">Open <span class="color">Exam</span></a></h1>
        </div>
      </div>
      <div class="span6">
        <div class="form">
          <form method="get" id="searchform" action="#" class="form-search">
            <input type="text" value="" name="s" id="s" class="input-medium"/>
            <button type="submit" class="btn">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>



<div class="container-fluid">
  <div class="row-fluid span8 offset1">
    <%= yield %>
  </div>
</div>

</body>
</html>




